# Phoenix configuration
PHX_HOST=skyrim.msdot.ru
PORT=4000
SECRET_KEY_BASE=generate_with_mix_phx_gen_secret
DATABASE_URL=ecto://postgres:postgres@db:5432/godville_sk_prod

# PostgreSQL configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=godville_sk_prod
